.footer {
  background-color: $theme-dark-blue;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;

  .footer-item {
    padding-bottom: 20px;
    p {
      padding: 20px 0px;
      color: $theme-gray;
    }
    ul {
      list-style: none;
      a {
        color: #fff;
        text-decoration: none;
        &.router-link-exact-active {
          color: $theme-blue;
        }
      }
    }
    .social-icons {
      margin-top: 20px;
      display: flex;
      .social-item {
        display: flex;
        padding: 10px;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        padding: 11px 15px;
        font-size: 19px;
        margin-right: 10px;
        a {
          color: #fff;
        }
      }
    }
  }
}