.bg-hero {
  color: var(--text-color);
  height: 100vh;
  // .eclipse {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: -101px;
  //   background: linear-gradient(
  //     180deg,
  //     rgba(15, 111, 254, 0.19) 0%,
  //     rgba(254, 15, 216, 0.1425) 55.01%,
  //     rgba(15, 111, 254, 0.19) 100%
  //   );
  //   filter: blur(450.941px);
  //   transform: rotate(90.89deg);
  // }
  .hero-item {
    margin-top: auto !important;
    margin-bottom: auto !important;
    display: flex;
    @media (max-width:600px) {
      margin-top: 150px !important;
    }
    align-items: center;
    p {
      margin-top: 40px;
    }
    img {
      width: 248px;
      margin: auto;
    }
    button {
      width: 150px;
      padding: 10px;
      margin-top: 30px;
    }
  }
}
#circle{
  background-image: url(/img/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  // background-size:;
}
.offering {
  color: var(--text-color);
  margin-top: 90px !important;
  background-color: #171b28 !important;
  .offering-item {
    margin-top: 20px;
    .content {
      border: 1px solid #8d8d8d;
      height: 300px;
      padding: 10px 15px;
      // display: flex;
      // align-items: center;
      border-radius: 10px;
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}
.who-we-are {
  color: var(--text-color);
  margin-top: 100px;
  .content {
    margin-bottom: 40px;
  }
  .who-items {
    .content {
      padding: 30px;
      color: var(--white);
      background-color: $theme-green;
      text-align: center;
      border-radius: 10px;
      margin-bottom: 20px;
      height: 240px;
      border: 1px solid #fff;
      h4 {
        padding-bottom: 10px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

.how-to-invest {
  color: var(--text-color);
  margin-top: 100px;
  .how-item {
    img {
      width: 280px;
    }
  }
}

.investment-package {
  color: var(--text-color);
  margin-top: 100px;
  .title-line {
    // width: 630px;
    margin-bottom: 30px;
  }
  p {
    text-align: center;
    margin: auto;
  }
  .package-item {
    margin-bottom: 20px;
    color: #000;
    .content {
      display: flex;
      align-items: center;
      height: 372px;
      text-align: center;
      background-color: #0d0c1f;
      border-radius: 10px;
      padding: 20px;
      color: #fff;
      .inner-content {
        width: 360px;
      }
      p {
        width: 100%;
        padding-bottom: 10px;
      }
      .btn-primary {
        padding: 10px 30px;
      }
    }
  }
}

.top-investors {
  color: var(--text-color);
  margin-top: 100px;
  .title-line {
    margin-bottom: 30px;
  }
  .investor-item {
    text-align: center;
    .investor-img {
      background-image: url("/img/unsplash_ILip77SbmOE.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 320px;
      border-radius: 10px;
    }
    .content {
      background-color: #01020c;
      border-radius: 10px;
      h5 {
        margin-top: 10px;
        color: #fff;
      }
      p {
        color: $theme-blue;
        padding-bottom: 10px;
      }
    }
    p {
      width: 100%;
    }
  }
}

.latest-news {
  .section-title {
    color: var(--text-color);
  }
  margin-top: 100px;
  .news-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #0d0c1f !important;
    border-radius: 10px;
    border: 1px solid #393939;
    .news-img {
      background-image: url("/img/unsplash_5fNmWej4tAA.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 290px;
      height: 190px;
      color: var(--white);
      display: flex;
      align-items: flex-end;
      padding-left: 10px;
    }
    .news-text {
      margin-top: 20px;
      display: flex;
      align-items: center;
      color: #fff;
      h5 {
        margin-bottom: 30px;
      }
      p {
        padding-bottom: 10px;
      }

      a {
        padding-top: 20px;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 1000px) {
  .bg-hero {
    height: 100vh;
    .hero-item {
      margin-top: 0px;
      display: flex;
      align-items: center;
      .content {
        height: 435px;
        h2 {
          width: 270px;
        }
        p {
          margin-top: 40px;
        }
      }
      img {
        width: 548px;
      }
    }
  }

  .offering {
    margin-top: 0px;
    margin-bottom: 40px;
    .offering-item {
      margin-top: 20px;
      .content {
        border: 1px solid #8d8d8d;
        height: 280px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
  .who-we-are {
    .who-items {
      .content {
        margin-bottom: 0px;
      }
    }
  }

  .how-to-invest {
    margin-top: 100px;
    .how-item {
      img {
        width: 430px;
      }
    }
  }
  .investment-package {
    .title-line {
      width: 630px;
    }
    p {
      width: 550px;
    }
  }
  .top-investors {
    p {
      width: 750px;
      margin: auto;
      text-align: center;
    }
  }
  .latest-news {
    .news-item {
      display: flex;
      padding: 10px;
      background-color: $theme-gray;
      border-radius: 10px;
      .news-img {
        width: 900px;
        height: 240px;
        color: var(--white);
        display: flex;
        align-items: flex-end;
        padding-left: 20px;
      }
      .news-text {
        padding-left: 20px;
        display: flex;
        align-items: center;
        h5 {
          margin-bottom: 30px;
        }
        p {
          padding-bottom: 10px;
        }

        a {
          padding-top: 20px;
          text-decoration: none;
        }
      }
    }
  }
}
