#nav {
  margin-top: 30px;
  margin-bottom: 20px;
  .nav-container {
    display: flex;
    justify-content: space-between;
    h2 {
      font-weight: bold;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        a {
          color: $nav-dark;
          text-decoration: none;
          &.router-link-exact-active {
            color: $theme-blue;
          }
        }
      }
    }
  }
}